html {
    background-color: greenyellow;
}

#title h1 {
    text-align: center;
}

#james-intro {
    background-color: aqua;
    margin: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
}

#james-intro div {
    justify-content: left;
    margin: auto;
}

#jj-intro {
    background-color: purple;
    margin: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
}

#jj-intro div {
    justify-content: left;
    margin: auto;
}


