html {
    background-color: greenyellow;
}

#title h1 {
    text-align: center;
}

#james-intro {
    margin: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
}

#james-intro div {
    justify-content: left;
    margin: auto;
}

#james-intro-body {
    padding: 20px;
    border: 20px;
    border-style: outset;
    border-color: yellow;
}

#jj-intro {
    margin: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
}

#jj-intro div {
    justify-content: left;
    margin: auto;
}

#jj-intro-body {
    padding: 20px;
    border: 20px;
    border-style: outset;
    border-color: pink;
}


